@charset "utf-8";
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
html{
    height: 100%;
}
body{
	font-family: "微软雅黑",Arial;
    background: hsl(0, 0%, 100%);
   
    height: 100%; 
}
.big-bd{
    height: 100%;
}
ul,ol{
	list-style:none;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
input{
    outline: none;
}
p{
    display: inline-block;
}
img{
    display: inline-block;
}
.big-data{
    width: 100%;
    overflow: hidden;
    background: linear-gradient( to bottom, #2884ab,#16739f,#3c3fa0,#4b269a,#511b95,#3a2697); 
}
.top{
    width: 100%;
    height: 61px;
    box-shadow: 0px 0px 30px #fff inset;
    text-align: center;
    position: relative;
}
.top h2{
    display: inline-block;
    color: #fff;
    font-size:28px;
    margin-top:8px;
}
.top span{
    display: inline-block;
    width: 100px;
    height: 34px;
    text-align: center;
    font-size:14px;
    color: #fff;
    line-height: 34px;
    border:2px solid #2ecbc4;
    border-radius: 16px;
}
.sp1{
    position: absolute;
    top: 10px;
    right: 170px;
    cursor: pointer;
}
.sp2{
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
}
.center{
    width: 90%;
    margin:0 auto;
    overflow: hidden;
}
.center-t-l{
    width: 55%;
    float: left;
}
.center-t-t{
    width: 100%;
    height: 75px;
    display: flex;
    margin-top:20px;
}
.center-t-s{
    flex: 1;
    margin-left:15px;
    display: flex;
    box-shadow: 0px 0px 30px #fff inset;
    border-radius: 5px;
}
.center-t-s img{
    width: 40px;
    height: 40px;
    margin:15px 15px 0 10px;
}
.xiao{
    height: 75px;
}
.xiao h2{
    margin-top:10px;
    color: #ff9e15;
}
.xiao p{
    color: #fff;
    font-size: 14px;
}
.center-t-s:first-of-type{
    margin-left: 0;
}
.center-t-b{
    width: 100%;
    height: 400px;
    margin-top:20px;
}
.b-left{
    width: 60%;
    height: 400px;
    box-shadow: 0px 0px 30px #fff inset;
    border-radius: 5px;
    float: left;
}
.b-left-t{
    width: 100%;
    height: 45px;
    display: flex;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 0px 20px #fff inset;
    border-radius: 5px;
}
.b-left-b{
    overflow: hidden;
    height: 355px;
}
.aa{
    margin-left: 15px;
}
.aa i{
    width: 5px;
    height: 20px;
    background-color: #6abf1b;
    display: inline-block;
}
.bb,.cc{
    font-size:12px;
}
.bb{
    margin:0 15px 0 75px;
}
.bb i{
    width: 15px;
    height: 5px;
    background-color: #ff9404;
    display: inline-block;
    border-radius: 5px;
}
.cc i{
    width: 15px;
    height: 5px;
    background-color: #49d0ff;
    display: inline-block;
    border-radius: 5px;
}
.b-right{
    width: 39%;
    float: right;
    height: 400px;
    box-shadow: 0px 0px 30px #fff inset;
    border-radius: 5px;
}
.b-right-t{
    width: 100%;
    height: 45px;
    display: flex;
    line-height: 45px;
    color: #fff;
    font-size: 16px;
    box-shadow: 0px 0px 20px #fff inset;
    border-radius: 5px;
}
.cp-li{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    display: flex; 
    color: #fff;
    justify-content: space-between;
    align-items: center;
    margin-top:15px;
}
.cp-li span{
    width: 100px;
    height: 25px;
    display: inline-block;
    background-color: #1d5284;
    border:1px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.center-t-r{
    width: 44%;
    float: right;
    height: 495px;
    margin-top:20px;
    box-shadow: 0px 0px 20px #fff inset;
    border-radius: 5px;
}
.center-right-b{
    height: 450px;
    overflow: hidden;
}
.center-b{
    width: 100%;
    display: flex;
}
.center-b-a{
    width: 21%;
    margin-top:20px;
    box-shadow: 0px 0px 20px #fff inset;
    border-radius: 5px;
    margin-right:15px;
}
.qy-li{
    width: 90%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
}
.qy-xiao{
    width: 128px;
}
.qy-xiao a{
    color: #e49f14;
}
.center-b-b{
    width: 28%;
    margin-top:20px;
    box-shadow: 0px 0px 20px #fff inset;
    border-radius: 5px;
    margin-right: 15px;
}
.center-b-d{
    width: 21%;
    margin-top:20px;
    box-shadow: 0px 0px 20px #fff inset;
    border-radius: 5px;
}
.b-right-d ul{
    margin-top:15px;
}
.cp-d{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#fff;
    font-size:14px;
}
.cp-d a{
    color: #dc7a15;
}
.center-r-b{
    height: 335px;
}
.center-c-b{
    height: 335px;
}
.center-big-t{
    overflow: hidden;
}
@media screen and (max-width:1024px){
    .center-big-t{
        flex-direction: column;
    }
    .center-t-l{
        width: 100%!important;
    }
    .center-t-r{
        width: 100%!important;
    }
    .sp1,.sp2{
        display: none!important;
    }
}
@media screen and (max-width:768px){
    .center-b{
        flex-direction: column;
    }
    .center-b-a,.center-b-b,.center-b-d{
        width: 100%!important;
    }
}